<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to data something</h1>

    <form action="#" th:action="@{/home}" th:object="${player}" method="post">
    	<p>playerName: <input type="text" th:field="*{playerName}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

</body>
</html>